# Ignore .DS_Store files from a git repository
# Find and remove existing files from the repository:
find . -name .DS_Store -print0 | xargs -0 git-rm

# Add the line ".DS_Store" to the file .gitignore, which can be found at the top level of your repository (or created if it isn't there already)

git add .gitignore
git commit -m ".DS_Store banished!"

# http://stackoverflow.com/questions/107701/how-can-i-remove-dsstore-files-from-a-git-repository
